<p>Ask your coach anything:</p>
<form action="/answer" data-turbo="false" class="input-group mb-3">
  <input type="text" name="question" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <input type="submit" value="Ask!" class="input-group-text btn" id="basic-addon2">
</form>
